@import "tailwindcss";

:root {
  --bg1: url("/bg1.jpg") no-repeat center fixed;
  --bg2: url("/bg2.jpg") no-repeat center fixed;
  --bg3: url("/bg3.jpg") no-repeat center fixed;
  --font-1: "Cormorant Garamond", "sans-serif";
  --font-2: "Dancing Script", "sans-serif";
  --font-3: "Epunda-Slab", "Times";
  --font-4: "Karla", "sans-serif";
  --font-5: "Roboto", "sans-serif";
}


@theme {
  /* Personal tailwind Custom start here */

  --spacing-85: 85px;
  --spacing-90: 90%;
  --spacing-100: 100px;
  --spacing-200: 200px;
  --spacing-250: 250px;
  --spacing-300: 300px;
  --spacing-350: 350px;
  --spacing-370: 370px;
  --spacing-380: 380px;
  --spacing-400: 400px;
  --spacing-700: 700px;
  --spacing-800: 800px;
  --spacing-900: 900px;
  --spacing-950: 950px;
  --spacing-1000: 1000px;
  --spacing-1100: 1100px;
  --spacing-1200: 1200px;
  --spacing-1350: 1350px;
  --spacing-overfull: 105%;



  --text-small-14: 14px;
  --text-small-15: 15px;
  --text-small-16: 16px;
  --text-small-17: 17px;
  --text-small-18: 18px;
  --text-small-19: 19px;
  --text-small-20: 20px;
  --text-small-25: 25px;
  --text-small-27: 27px;
  --text-small-40: 40px;
  --text-small-45: 45px;



  --radius-p-inherit: inherit;
  --radius-p-50: 50%;
  /* Personal tailwind Custom ends here */



   --breakpoint-320: 320px;  
   --breakpoint-370: 370px;
   --breakpoint-410: 410px;
   --breakpoint-540: 540px;
   --breakpoint-850: 850px;

   
}
  /*

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

/* Default personal styling start here */

/* @layer base {

  button {
    font-size: 15px; 
    font-family: var(--font-1);
    @apply font-cormorant;
    font-weight: 500;
  }

  h1 {
    font-family: var(--font-3);
    @apply font-cormorant;
    font-weight: 800;
    background: linear-gradient(to right, #57C785, #8f68ff, #EDDD53, #8f68ff, #2A7B9B);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
  }


  p {
    @apply font-cormorant text-lg;
  }
} */

button {
  font-weight: 500;
} 

h1 {
  /* font-family: var(--font-4); */
  font-weight: 800;
  background: linear-gradient(to right, #57C785, #8f68ff, #EDDD53, #8f68ff, #2A7B9B);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
  to {
    background-position: 200%;
  }
}

h2, h3 {
  /* font-family: var(--font-4); */
}

a {
  /* font-family: var(--font-3); */
  font-size: 20px;
}

p {
  /* font-family: var(--font-3); */
}

button:active {
  transform: scale(0.5);
}

li {
  /* font-family: var(--font-1); */
}

input {
  /* font-family: var(--font-2); */
}

body {  
  background: var(--bg3);
}

body::before {  /* Making the body a pseudo element so i can apply fixed to any components Especially the navigation component  */
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/* Default personal styling ends here */

/* Selective styling start here */

.nav2 {
    background: linear-gradient(to right, #3A1C71, #8f68ff, #EDDD53, #8f68ff, #2A7B9B);
}

.section-fourth-div-img1 {
  border-radius: 50%;
  animation: imageBoxShadow 3s linear infinite;
}

@keyframes imageBoxShadow {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .7), 0 0 0 0 rgba(255, 255, 255, .7);
  }

  40% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0), 0 0 0 0 rgba(255, 255, 255, .7);

  }

  80% {
    box-shadow: 0 0 0 30px rgba(0, 0, 0, 0), 0 0 0 20px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 20px rgba(255, 255, 255, 0);
  }
}

/* swiper styling start here */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: flex;
  width: 100px;
  height: 100px;
  object-fit: contain;
}


/* swiper styling ends here */

/* Selective styling ends here */